<div class="page-header">
  {{#link-to 'index'}}Home{{/link-to}}
  {{#link-to 'committees'}}Comittees{{/link-to}}
  {{#link-to 'bills'}}Bills{{/link-to}}
</div>
<div class="container">
  {{outlet}}
</div>
